body {
    background-image: url("./Images/red-velvet-curtain1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lora', serif;
    color: yellow;
}


*{
margin:0;
padding: 0;
}


.banner {
width:100%; 


}

/* NavBar design */
html {
    height: 100%;
  }
  nav {
    max-width: 100%;
    mask-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #ffff 25%,
      #ffff 75%,
      rgba(255, 255, 255, 0) 100%
    );
    margin: 0 auto;
    padding: 60px 0;
  }
  
  nav ul {
    text-align:center;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
      inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgb(255, 251, 0);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  
  

  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.616),
      inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 0, 0);
  }
  
  
  /*Search box*/
  form {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  form > .textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  form > .button:hover {
    background-color: rgba(253, 236, 0, 0.8);
  }

/*for the poster
.poster {
  background-color: rgba(255, 255, 255, 0.116);
  width: 300px;
  padding: 25px;
  margin: 25px; 

}
*/
/*footer*/

footer {
    width: 100%; 
    height: 30px;
    background: linear-gradient(to bottom left, #800000 20%, #000000 80%);
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;

}

.contactUs {
margin-top:40px;
}


